@import url('https://fonts.googleapis.com/css?family=Economica|Roboto+Condensed');

body {
  margin: 5%;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Economica', sans-serif;
}

.form {
  height: 25px;
  display: inline-block;
  margin-bottom: 8px;
}

input {
  width: 300px;
  height: 19px;
  font-size: 16px;
  margin: 1px;
  border-radius: 15px;
}

.search-button {
  border-radius: 15px;
  color: #fff;
  background-color: rgb(255, 62, 62);
  transition: all .2s ease-in-out;
  cursor: pointer;
  padding: 5px;
  margin: 3px;
}

.search-button:hover {
  background-color: rgb(255, 0, 0);
}

.form > input {
  float: left;
}

.form > button {
  float: right;
  margin: 1px;
}

button {
  height: 25px;
}

.Gallery {
  margin: 10px;
}

.Gallery > img {
  width: 400px;
  height: 25s0px;
  z-index: -1;
  opacity: 0.8;
  object-fit: cover;
}

.multiform {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.multiform > div > input {
  width: 40px;
  font-size: 12px;
  text-align: center;
  margin-left: 5px;
}

.multiform > div {
  float: left;
}

.task-list {
  cursor: pointer;
}

.completed-list {
  color: grey;
  text-decoration: line-through;
}

.delete-task {
  color: black;
  cursor: pointer;
}

.Stories > div {
  margin: 15px;
}

.Stories > div > a {
  text-decoration: none;
  color: rgb(136, 136, 136);
  transition: all .2s ease-in-out;
  font-size: 19px;
  cursor: pointer;
}

.Stories > div > a:hover {
  text-decoration: none;
  color: #000;
}

.Matrix > img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.Jobs {
  text-align: left;
}